 body { background-color: rgb(223, 205, 224); text-align: center;}
 table{
    background-color: rgb(236, 189, 189);
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h1{
    text-align: center;
    color: crimson;
    background-color: black;
 }
 h2{ text-align: center; color: rgb(94, 7, 7);}
 h3{ text-align: center; color: rgb(58, 85, 58);}
